<div class="modal {{ size }}">
  <div class="modal-header">
    {{ title }}
    <span class="modal-close" (click)="close()">✕</span>
  </div>
  <!-- need ref -->
  <div class="" *ngIf="type === 'folderDelete'">
    <div class=""><button (click)="deleteAllFoldersItems(true)">delete all</button></div>
    <button (click)="deleteAllFoldersItems(false)">delete only folder</button>
  </div>

  <div class="" *ngIf="type === 'categoryDelete'">
    <div class=""><button (click)="deleteAllCategoriesItems(true)">delete all</button></div>
    <button (click)="deleteAllCategoriesItems(false)">delete only Category</button>
  </div>

  <app-todo-create-form-ui
    *ngIf="todo || folder || category"
    [modalType]="type"
    [todoForEdit]="todo"
    [folderForEdit]="folder"
    [categoryForEdit]="category"
    (editItem)="onItemEdit($event)">
  </app-todo-create-form-ui>
</div>

<div class="modal-backdrop" (click)="close()"></div>