<div class="modal {{ size }}">
  <div class="modal-header">
    {{ title }}
    <span class="modal-close" (click)="close()">✕</span>
  </div>
  <!-- need ref -->
  <!-- mb try tempates -->
  @if (type === 'folderDelete') {
  <div>
    <div class=""><button (click)="deleteAllFoldersItems(true)">delete all</button></div>
    <button (click)="deleteAllFoldersItems(false)">delete only folder</button>
  </div>
  }
  @if (type === 'categoryDelete') {
    <div>
      <div class=""><button (click)="deleteAllCategoriesItems(true)">delete all</button></div>
      <button (click)="deleteAllCategoriesItems(false)">delete only Category</button>
    </div>
  }
  <app-edit-form
    [modalType]="type"
    [todoForEdit]="todo"
    [folderForEdit]="folder"
    [categoryForEdit]="category"
    (editItem)="onItemEdit($event)">
  </app-edit-form>
</div>

<div class="modal-backdrop" (click)="close()"></div>