<div class="modal {{ size }}">
  <div class="modal-header">
    {{ title }}
    <span class="modal-close" (click)="close()">✕</span>
  </div>

  <div class="" *ngIf="type === 'folderDelete'">
    <div class=""><button (click)="deleteAllFoldersItems(true)">delete all</button></div>
    <button (click)="deleteAllFoldersItems(false)">delete only folder</button>
  </div>

  <app-todo-create-form-ui
    *ngIf="todo"
    [modalType]="type"
    [todoForEdit]="todo"
    (editItem)="onItemEdit($event)">
  </app-todo-create-form-ui>

</div>

<div class="modal-backdrop" (click)="close()"></div>