.todo-widget-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

// .todo-widget-form {
//   display: flex;
//   justify-content: center;
// }

@media screen and (max-width: 415px) {
  .content {
    padding: 0 30px;
  }
}