<div class="todo-widget-wrapper container">
  <app-todo-create-form-ui
    [categoriesList]="categoriesList$ | async"
    [currentCategory]="currentCategory"
    (createItem)="onItemCreate($event)">
  </app-todo-create-form-ui>

  <app-todo-header-bar-ui
    [categoriesList]="categoriesList$ | async"
    [currentCategory]="currentCategory"
    (currentCategoryEmmiter)="onCategoryPick($event)">
  </app-todo-header-bar-ui>

  <app-todo-list-ui
    *ngIf="this.currentCategory == 'all'"
    [todoList]="todoList$ | async | todo:'all'"
    (deleteItem)="onDelete($event)"
    (toggle)="onToggle($event)"
    (edit)="onTodoItemEdit($event)">
  </app-todo-list-ui>

  <app-swipe
     *ngFor="let category of categoriesList$ | async | categoryFilter:currentCategory"
     [category]="category">   
    <app-category-list-item-ui 
      [currentCategory]="currentCategory"
      [todoList$]="todoList$"
      [category]="category"
      (deleteItem)="onDelete($event)"
      (deleteFolder)="onFolderDelete($event)"
      (editTodo)="onItemEdit($event)"
      (editFolder)="onFolderEdit($event)"
      (toggle)="onToggle($event)">
    </app-category-list-item-ui>
  </app-swipe>

</div>

<ng-template #modalTemplate>
  <div class="">some template</div>
</ng-template>