<div class="todo-widget-wrapper container">
  <app-form-item 
    [categoriesList]="categoriesList$ | async"
    [currentCategory]="currentCategory"
    (createTotoEmitter)="onTodoCreate($event)"
    (createCategoryEmitter)="onCategoryCreate($event)"
    (createFolderEmitter)="onFolderCreate($event)">
  </app-form-item>

  <app-todo-header-bar-ui
    [categoriesList]="categoriesList$ | async"
    [currentCategory]="currentCategory"
    [filters]="filters | async"
    (currentCategoryEmmiter)="onCategoryPick($event)"
    (showFavouriteEmmiter)="onFavouriteToggle($event)">
  </app-todo-header-bar-ui>

  <div class="content">
    @for (category of categoriesList$ | async | categoryFilter:currentCategory; track category.id){
    <app-swipe [category]="category">
      <app-category-list-item-ui 
        [currentCategory]="currentCategory"
        [todoList$]="todoList$"
        [category]="category">
      </app-category-list-item-ui>
    </app-swipe>
    }
    @if (!!!this.currentCategory) {
    <app-todo-list-ui [todoList]="todoList$ | async | todo:null "></app-todo-list-ui>
    }
  </div>
</div>

<ng-template #modalTemplate>
  <div class="">some template</div>
</ng-template>