.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.task-item {
  width: 354px;
  height: 38px;
  display: flex;
  justify-content: center;
  background-color: red;
  // position: relative;
}

.task-item-content {
  // position: absolute;
  border: 2px solid black;
  background-color: aqua;
  width: 270px;
}