.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.task-item {
  position: relative;
  // display: flex; 
  // justify-content: center;
  width: 100%;
  // width: 354px;
  // height: 38px;
}