<ul class="task-list">
  <li class="task-item" *ngFor="let todo of todoList">
    <app-swipe 
      [todo]="todo"
      [isEdit]="isEdit"
      (openEditMode)="onEditMode($event)"
      (deleteItem)="checkDeleteOnSwipe($event)">
      <!-- todo-item -->
      <app-todo-list-item-ui 
        [todo]="todo"
        (toggle)="onToggle(todo.id)"
        (deleteItem)="onDelete(todo.id)"
        (edit)="onEdit(todo)">
        <!-- (edit)="onEditMode(todo.id)"> -->
      </app-todo-list-item-ui>
      <!-- edit-todo-item -->
    </app-swipe>
  </li>
</ul>