svg {
  width: 28px;
  height: 28px;
}

.title-wrapper {}

.category {
  &__title {

  }

  &__open-content svg {}

  &__open-content svg,
  &__create-folder svg {
    cursor: pointer;
  }
}

.category-item {
  padding-bottom: 0.5rem;
}

button {
  padding: 0.3rem 0.2rem;
  background-color: green;
  color: white;
  font-size: 16px;

}