// .devider {
//   width: 100%;
//   background-color: black;
//   height: 2px;
// }

svg {
  width: 28px;
  height: 28px;
}

.title-wrapper {}

.category {
  &__title {

  }

  &__open-content svg {}

  &__open-content svg,
  &__create-folder svg {
    cursor: pointer;
  }
}