<div class="wrapper-title category">
  <span class="category__title">{{category.name}}</span>
  <div class="category__open-content" role="btn" >
    <img src="../../../../../assets/icons/arrow-up_svgrepo.com.png" alt="arrow" (click)="showContent = !showContent">
  </div>
</div>

@if(showContent) {
<app-todo-list-ui [todoList]="todoList$ | async | todo:category"></app-todo-list-ui>
  @for(folder of category.foldersList; track folder.name) {
  <app-swipe [folder]="folder">
    <app-folder-list-item-ui
      [todoList$]="todoList$" 
      [folder]="folder">
    </app-folder-list-item-ui>
  </app-swipe>
  }
}