<div class="category-item">
  <div class="wrapper-title category">
    <span class="category__title">{{category.name}}</span>
      <svg-icon class="category__open-content arrow" role="btn" 
                [ngClass]="{'arrow__up': !showContent, 'arrow__down': showContent}" 
                [src]="'../../../../../assets/icons/category-arrow_svgrepo.com.svg'"
                [svgStyle]="{ 'width.px':30, 'height.px':30 }"
                (click)="showContent = !showContent">
      </svg-icon>
  </div>

  @if(showContent) {
  <app-todo-list-ui [todoList]="todoList$ | async | todo:category"></app-todo-list-ui>
    @for(folder of category.foldersList; track folder.id) {
    <app-swipe [folder]="folder">
      <app-folder-list-item-ui
        [todoList$]="todoList$" 
        [folder]="folder">
      </app-folder-list-item-ui>
    </app-swipe>
    }
  }
</div>