<div class="todo-item-wrapper" [class]="listClasses">
  <label class="round-checkbox-container">
    <input type="checkbox" [checked]="todo?.completed" (click)="onToggle()" />
    <span class="checkmark"></span>
  </label>
  <div class="todo-item__text">
    @if (todo?.completed){
    <del><span>{{todo?.name}}</span></del>
    } @else {
    <span>{{todo?.name}}</span>
    }
  </div>


  <!-- <label for="checkbox">
    <input type="checkbox" [checked]="todo?.completed" (click)="onToggle()">
  </label> -->
</div>