svg {
  width: 22px;
  height: 22px;
}

.todo-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
  padding: 0px 10px;
}

.todo-item {
  &__text {
    flex-basis: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
  }
}

.btns-group {}

.btn-delete {
  cursor: pointer;
}

input {
  cursor: pointer;
}