<div class="todo-item-wrapper">
  <label class="round-checkbox-container">
    <input type="checkbox" [checked]="todo?.completed" (click)="onToggle()" />
    <span class="checkmark"></span>
  </label>
  <div class="todo-item__text">
    <del *ngIf="todo?.completed else completed"><span>{{todo?.name}}</span></del>
    <ng-template #completed>
      <span>{{todo?.name}}</span>
    </ng-template>
  </div>
 

  <!-- <label for="checkbox">
    <input type="checkbox" [checked]="todo?.completed" (click)="onToggle()">
  </label> -->
</div>