.header {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  height: 66px;
  width: 99%;
  max-width: 1280px;
  background-color: #cbc697;

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 200px;
  }

  &__profile {
    display: flex;
    justify-content: flex-end;
    width: 200px;
  }
}

.content {
  display: flex;
  text-align: center;
  gap: 1rem;
  padding-top: calc(66px + 1rem)
}

.sidebar {
  position: fixed;
  width: 200px;
}

.todos {
  flex-grow: 1;
  padding: 0 calc(200px + 1rem);
}

@media screen and (max-width:600px) {
  .header {
    &__title {
      display: none;
    }
  }
}

@media screen and (max-width: 415px) {
  .content {
    padding: 0 30px;
  }
}