<div class="priority-wrapper">
  @for(p of priorities; track p) {
  <div class="priority" [ngClass]="{ 
        'high': p === 'high' && priority === 'high', 
        'medium': p === 'medium' && priority === 'medium', 
        'low': p === 'low' && priority === 'low', 
        'none': p === 'none' && priority === 'none' 
      }" (click)="onPriorityChange(p)">
    <app-svg-icon [width]="'20'" [height]="'20'" [svgPath]="'../../../../../assets/icons/priority_svgrepo.com.svg'">
    </app-svg-icon>
  </div>
  }
  <div class="priority" (click)="cancelPriorityPick.emit()">
    <app-svg-icon [width]="'18'" [height]="'18'" [svgPath]="'../../../../../assets/icons/cansel.svg'">
    </app-svg-icon>
  </div>
</div>