:host {}

.priority-wrapper {
  height: 224px;
  // width: 54px;
  width: 38px;
  background-color: #EAE3D3;
  border-radius: 22px 22px 22px 22px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
}

.priority {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.high {
  border-radius: 22px 0px 0px 0px;
  background-color: red;
}

.medium {
  background-color: yellow;
}

.low {
  background-color: rgb(105, 105, 220);
}

.none {
  background-color: white;
}