@import "../../../../../assets/styles/color-variables";

.btns-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 1rem 0;

  &__left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 6px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &__group>.btn {
    width: max-content;
  }

  &__group span {
    text-align: center;
  }

  &__group>:last-child {}
}

svg-icon[data-atribute="reverse"] {
  transform: rotate(180deg);
}

.categoty-group {
  display: flex;
  align-items: center;
  gap: 12px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  flex-grow: 1;
}

.categoty-group::-webkit-scrollbar {
  width: 0;
  display: none;
}

.btns-bar>:last-child {
  min-width: 32px;
  padding: 0;
}

input {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 1rem;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  width: 40px;
}

.btn.btn-primary {
  min-width: max-content;
}

.active {
  background-color: $btn-active;
}