@import "../../../../../assets/styles/color-variables";

.btns-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 1rem 0;

  &__left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__group {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
  }

  &__group>.btn {
    width: max-content;
  }

  &__group span {
    text-align: center;
  }

  &__group>:last-child {
    transform: rotate(180deg);
  }
}

.btns-bar>:last-child {
  width: 32px;
  padding: 0;
}

.btns-bar>:last-child svg {
  width: 20px;
  height: 20px;
}

input {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 1rem;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  width: 40px;
}