<div class="btns-bar container">
  <div class="btns-bar__left">
    <button class="btn btn-primary"
            [ngClass]="{'active': currentCategory === null}"
            (click)="onAllCategoriesPick()">All
    </button>
    <button class="btn btn-primary btn__favourite"
            [ngClass]="{'active': false}"
            (click)="onAllCategoriesPick()">
      <svg-icon 
        [src]="'../../../../../assets/icons/heart-white_svgrepo.com.svg'" 
        [svgStyle]="{ 'width.px':20, 'height.px':20}">
      </svg-icon>
    </button>
  </div>
  <div class="btns-bar__group">
    <svg-icon 
      [src]="'../../../../../assets/icons/category-arrow_svgrepo.com.svg'" 
      [svgStyle]="{ 'width.px':32, 'height.px':32}">
    </svg-icon>
    @if (categoriesList){
    <div class="btns-bar__group__ categoty-group">
      @for (category of categoriesList; track category.id) {
      <button class="btn btn-primary" 
              [ngClass]="{'active': currentCategory?.name == category.name}"
              (click)="onCategoryPick(category)">
              {{category.name}}
      </button>}
    </div>
    }
    <svg-icon data-atribute="reverse"
      [src]="'../../../../../assets/icons/category-arrow_svgrepo.com.svg'" 
      [svgStyle]="{ 'width.px':32, 'height.px':32}">
    </svg-icon>
  </div>
  <button class="btn btn-primary" role="menu">
    <svg-icon 
      [src]="'../../../../../assets/icons/filters_svgrepo.com.svg'" 
      [svgStyle]="{ 'width.px':18}">
    </svg-icon>
  </button>
  <button class="btn btn-primary" (click)="clearAllData()">
    del
  </button>
</div>