.task-item {
  position: relative;
  width: 100%;

  &__content {
    background-color: white;
    z-index: 1;
    width: 100%;
    // transition: all 0.1s ease;
    cursor: grab;
  }

  &__tool-bar {
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38px;

    &__item {
      display: flex;
      gap: 20px;
    }

  }
}

.folder-item {
  position: relative;

  &__swipe-wrapper {
    cursor: grab;
  }

  &__tool-bar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
    z-index: -1;

    &__item {
      display: flex;
      gap: 20px;
    }
  }
}

.category-item {
  position: relative;
  width: 100%;

  &__swipe-wrapper {
    cursor: grab;
  }

  &__tool-bar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
    z-index: -1;

    &__item {
      display: flex;
      gap: 20px;
    }
  }
}