.task-item {
  position: relative;
  width: 100%;

  &__content {
    background-color: white;
    z-index: 1;
    width: 100%;
    // transition: all 0.1s ease;
    cursor: grab;
  }

  &__tool-bar {
    background-color: #F1EDC1;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

    &__item {
      display: flex;
      gap: 10px;
    }

    &__item:first-child {
      padding-left: 6px;
    }
    &__item:last-child {
      padding-right: 6px;
    }
  }
}

.folder-item {
  position: relative;

  &__swipe-wrapper {
    cursor: grab;
  }

  &__tool-bar {
    background-color: #F1EDC1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
    z-index: -1;

    &__item {
      display: flex;
      gap: 10px;
    }

    &__item:first-child {
      padding-left: 6px;
    }
    &__item:last-child {
      padding-right: 6px;
    }
  }
}

.category-item {
  position: relative;
  width: 100%;

  &__swipe-wrapper {
    cursor: grab;
  }

  &__tool-bar {
    background-color: #F1EDC1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
    z-index: -1;

    &__item {
      display: flex;
      gap: 10px;
    }

    &__item:first-child {
      padding-left: 6px;
    }
    &__item:last-child {
      padding-right: 6px;
    }
  }
}

.action {
  width: 100%;

  &_priority {
    position: relative;
  }
}

@media screen and (max-width: 415px) {
  .task-item {
    &__tool-bar {
      // padding: 0 4px;

      &__item {
        gap: 4px;
      }
    }
  }

  .folder-item {
    &__tool-bar {
      // padding: 0 4px;

      &__item {
        gap: 4px;
      }
    }
  }

  .category-item {
    &__tool-bar {
      // padding: 0 4px;

      &__item {
        gap: 4px;
      }
    }
  }
}