<div [ngClass]="{'folder-item': folder, 'task-item': todo, 'category-item': category}" class="swipe-wrapper">
  <div [ngClass]="{'folder-item__swipe-wrapper': folder, 'task-item__swipe-wrapper': todo, 'category-item__swipe-wrapper': category}"
       [cdkDragFreeDragPosition]="setPosition"
       cdkDrag cdkDragLockAxis="x"
       cdkDragBoundary=".app-container" 
       (cdkDragStarted)="dragStarted($event)"
       (cdkDragEnded)="dragEnd($event)"
       #dragarea>
       <!-- swipe content -->
      <ng-content></ng-content>
  </div>
  <div [ngClass]="{'folder-item__tool-bar': folder, 'task-item__tool-bar': todo, 'category-item__tool-bar': category}" class="action-icons-bar">
    <div [ngClass]="{'folder-item__tool-bar__item': folder, 'task-item__tool-bar__item': todo, 'category-item__tool-bar__item': category}">
      @if(todo) {
      <div class="action_priority" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <app-svg-icon [svgPath]="'../../../../../assets/icons/priority_svgrepo.com.svg'" [width]="'20'" [height]="'20'">
        </app-svg-icon>
         <ng-template cdkConnectedOverlay 
                      [cdkConnectedOverlayOrigin]="trigger"
                      [cdkConnectedOverlayOpen]="isPriorityBarOpen" 
                      [cdkConnectedOverlayPositions]="[{
                        originX: 'start',
                        originY: 'center',
                        overlayX: 'center',
                        overlayY: 'center',
                        offsetY: offsetY,
                        offsetX: -38,
                      }]">
          <app-priority
            [priority]="priorityType"
            (changePriority)="changePriority($event)"
            (cancelPriorityPick)="this.isPriorityBarOpen = false">
          </app-priority>
         </ng-template>
        </div>
      }
      <div class="">
        <app-svg-icon [svgPath]="'../../../../../assets/icons/edit_svgrepo.com.svg'" [width]="'20'" [height]="'20'">
        </app-svg-icon>
      </div>
    </div>
    <div [ngClass]="{'folder-item__tool-bar__item': folder, 'task-item__tool-bar__item': todo, 'category-item__tool-bar__item': category}">
      <div class="">
        <app-svg-icon [svgPath]="'../../../../../assets/icons/trash-bin_svgrepo.com.svg'" [width]="'20'"
          [height]="'20'">
        </app-svg-icon>
      </div>
      <div class="">
        <app-svg-icon [svgPath]="'../../../../../assets/icons/heart-dark_svgrepo.com.svg'" [width]="'20'"
          [height]="'20'">
        </app-svg-icon>
      </div>
    </div>
  </div>
</div>



<ng-template #modalTemplate></ng-template>

