<div class="mobile-header">
  <button class="btn btn-primary" 
          [ngClass]="{'active': activeCategory === null && !filters!.favourite}"
          (click)="onCategoryPick(null)">
    All
  </button>
  <button class="btn btn-primary btn__favourite"
          [ngClass]="{'active': filters?.favourite}"
          (click)="onFavouriteFilterToggle()">
    <svg-icon [src]="'../../../../../assets/icons/heart-white_svgrepo.com.svg'"
      [svgStyle]="{ 'width.px':20, 'height.px':20}">
    </svg-icon>
  </button>
  @if (categoriesList!.length){
  <div class="category-group">
    <button class="btn btn-primary category" [ngClass]="{'active': openCategoriesList}"
      (click)="openCategoriesList = !openCategoriesList">
      Categories
    </button>
    @if (openCategoriesList){
    @for (category of categoriesList; track category.id) {
    <button  
      class="btn btn-primary category" 
      [ngClass]="{'active': activeCategory?.name === category.name && !filters?.favourite}"
      (click)="onCategoryPick(category)">
      {{category.name}}
    </button>}
    }
  </div>
  }
</div>

<div class="sidebar">
  <input type="text" class="rounded-input" placeholder="search">
  @if (categoriesList!.length){
  <div class="base">
    <button class="btn btn-primary" [ngClass]="{'active': activeCategory === null && !filters!.favourite}"
      (click)="onCategoryPick(null)">All
    </button>
    <button class="btn btn-primary btn__favourite" [ngClass]="{'active': filters?.favourite}"
      (click)="onFavouriteFilterToggle()">
      <svg-icon [src]="'../../../../../assets/icons/heart-white_svgrepo.com.svg'"
        [svgStyle]="{ 'width.px':20, 'height.px':20}">
      </svg-icon>
    </button>
  </div>
  }

  <div class="caterories list">
    @if (categoriesList!.length){
    <div class="category-group">
      <button class="btn btn-primary" [ngClass]="{'active': openCategoriesList}"
        (click)="openCategoriesList = !openCategoriesList">
        Categories
      </button>
      @if (openCategoriesList){
      @for (category of categoriesList; track category.id) {
      <button class="btn btn-primary"
        [ngClass]="{'active': activeCategory?.name === category.name && !filters?.favourite}"
        (click)="onCategoryPick(category)">
        {{category.name}}
      </button>}
      }
    </div>
    } @else {
    <!-- mb add "create it" functional? -->
    <button class="btn btn-primary">
      no Categories
    </button>
    }
  </div>

  <div class="filter-options-group">
    <button class="btn btn-primary" [ngClass]="{'active': openFilters}" (click)="openFilters = !openFilters">
      Filters
    </button>
    @if (openFilters){
    <button class="btn btn-primary" role="menu" [ngClass]="{'active': filters?.status}"
      (click)="onStatusFilterToggle()">
      <svg-icon [src]="'../../../../../assets/icons/check.svg'" [svgStyle]="{ 'width.px':18, 'stroke': 'white'}">
      </svg-icon>
    </button>
    <button class="btn btn-primary" role="menu" [ngClass]="{'active': filters?.priority}"
      (click)="onPriorityFilterToggle()">
      <svg-icon [src]="'../../../../../assets/icons/priority_svgrepo.com.svg'"
        [svgStyle]="{ 'width.px':20, 'fill':'white'}">
      </svg-icon>
    </button>
    <button class="btn btn-primary" role="menu" [ngClass]="{'active': filters?.alphabeticalSort}"
      (click)="onAlphabeticalSortFilterToggle()">
      A-z
    </button>
    }
  </div>
</div>