@import "../../../../../assets/styles/color-variables";

:host {
  width: 100%;
}

form {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.form__content {
  border: 1px solid var(--header-border-color);
  border-radius: var(--border-radius);
  flex-grow: 2;
  padding: 4px;
}

input {
  padding-left: 10px;
  height: 24px;
  width: 100%;
  background-color: var(--input-bg);
  border-radius: var(--border-radius);
  color: black;
  font-family: "Metrophobic";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.73px;
  text-align: left;
}

input::placeholder {
  color: var(--input-text-color);
  font-size: 16px;
  font-weight: 400;
}

.devider {
  background-color: var((--devider-bg));
  margin: 4px 0;
  height: 1px;
}

.categories-list {
  margin-top: 4px;
}


.categories-list,
.folder-list {
  display: flex;
  gap: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories-list::-webkit-scrollbar,
.folder-list::-webkit-scrollbar {
  width: 0;
  display: none;
}

.active {
  background-color: var(--btn-active);
}

.btn__pick-item {
  min-width: max-content;
}

button[type=submit] {
  width: 32px;
  padding: 6px 0;
}