<div class="flex" [style.maxHeight.px]="maxHeigth">
  <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__content">
      <input required type="text" name="text" placeholder="{{placeholder}}" formControlName="name">
      @if (form.controls['currentCategoryId']) {
        <ng-container *ngTemplateOutlet="categoriesPick"></ng-container>
      }
      @if (form.controls['currentFolderId']) {
        <ng-container *ngTemplateOutlet="folderPick"></ng-container>
      }
    </div>
  </form>
  <button type="submit" class="btn btn__big btn__add-todo" 
          [disabled]="!this.form.valid"
          (click)="onSubmit()">
    <app-svg-icon 
      [svgPath]="'../../../../../assets/icons/plus.svg'"
      [width]="'20'"
      [height]="'20'">
    </app-svg-icon>
  </button>
</div>

<ng-template #categoriesPick>
  <ul class="categories-list">
    <button type="button" role="button" class="btn btn__pick-item"
            [ngClass]="{'btn__no-item': !!!activeCategory}"
            (click)="clearCategoryPick()">
            None
    </button>
    @for(category of categoriesList; track category.id) {
    <li>
      <button type="button" role="text" class="btn btn__pick-item"
        [class.active]="category.id === activeCategory?.id"
        (click)="onCategotyPick(category)">
        {{category.name}}
      </button>
    </li>
    }
  </ul>
</ng-template>

<ng-template #folderPick>
  <div class="devider"></div>
  <ul class="folder-list">
    <button type="button" class="btn btn__pick-item" 
            [ngClass]="{'btn__no-item': !!!this.activeFolder}"
            (click)="onFolderPick(null)">
            None
    </button>
    @for(folder of currentFoldersList; track folder.id) {
    <li>
      <button type="button" class="btn btn__pick-item"
              [disabled]="this.activeCategory === null"
              [class.active]="isFolderActive(folder)" 
              (click)="onFolderPick(folder)">
              {{folder.name}}
      </button>
    </li>
    }
  </ul>
</ng-template>