/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/reset";
@import "./assets/styles/color-variables";

body {
  margin: 0;
  padding: 1rem 0;
  font-family: "Metrophobic", sans-serif;
  font-style: normal;
  background-color: $body-bg;
}

.todo-border {
  border: 2px solid black;
}

.container {
  max-width: 630px;
  margin: 0 auto;
}

.btn {
  padding: 6px 10px;
  background-color: $btn-primary;
  color: $white;
  border-radius: $border-radius;
  height: 32px;
  min-width: 32px;
  text-align: center;
  transition: all 0.3s;

  &__no-item {
    background-color: $none-atribute-btn !important;
    padding: 6px 10px;
  }

  &__no-item:active {
    background-color: $none-atribute-btn !important;
  }

  &__pick-item {
    background-color: $create-tool-btn-not-active;
  }

  &__pick-item:active {
    background-color: $create-tool-btn-not-active;
  }

  &__favourite {
    width: 40px;
  }
}

.btn-primary:active {
  background-color: $btn-active;
}


.btn:disabled {
  background-color: $btn-disabled;
}




// button[data-atribute="create-tool-btn"]:active {
//   background-color: $btn-active;
// }