/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/reset";
@import "./assets/styles/color-variables";

@import '~@angular/cdk/overlay-prebuilt.css';

body {
  margin: 0;
  padding: 1rem 0;
  font-family: "Metrophobic", sans-serif;
  font-style: normal;
  background-color: $body-bg;
}

input {
  cursor: pointer;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  max-width: 630px;
  margin: 0 auto;
}

.wrapper-title>:first-child {
  font-family: Hind;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DCD483;
  padding: 0 20px;
  border-radius: 5px 5px 0px 0px;
  height: 44px;
}

.btn {
  padding: 6px 10px;
  background-color: $btn-primary;
  color: $white;
  border-radius: $border-radius;
  height: 32px;
  min-width: 32px;
  text-align: center;
  transition: all 0.3s;

  &__no-item {
    background-color: $none-atribute-btn !important;
    padding: 6px 10px;
    min-width: min-content;
  }

  &__no-item:active {
    background-color: $none-atribute-btn !important;
  }

  &__pick-item {
    background-color: $create-tool-btn-not-active;
  }

  &__pick-item:active {
    background-color: $create-tool-btn-not-active;
  }

  &__favourite {
    width: 40px;
  }
}

.btn-primary:active {
  background-color: $btn-active;
}

.btn:disabled {
  background-color: $btn-disabled;
}

.high {
  background-color: #FFB6AB !important;
}

.medium {
  background-color: #FFDCB4 !important;
}

.low {
  background-color: #7E6FD9 !important;
}

.none {
  background-color: #FDF3BB !important;
}