/* Global styles */
@import "./assets/styles/reset";
@import "./assets/styles/color-variables";

@import '~@angular/cdk/overlay-prebuilt.css';

body {
  margin: 0;
  padding: 1rem 0;
  font-family: "Metrophobic", sans-serif;
  font-style: normal;
  background-color: var(--body-bg);
}

input {
  cursor: pointer;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  max-width: 630px;
  margin: 0 auto;
}

.wrapper-title> :first-child {
  font-family: Hind;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DCD483;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
  height: 44px;
}

.btn {
  padding: 6px 10px;
  background-color: var(--btn-primary);
  color: var(--white);
  border-radius: var(--border-radius);
  height: 32px;
  min-width: 32px;
  text-align: center;
  transition: all 0.3s;

  &__no-item {
    background-color: var(--none-atribute-btn) !important;
    padding: 6px 10px;
    min-width: min-content;
  }

  &__no-item:active {
    background-color: var(--none-atribute-btn) !important;
  }

  &__pick-item {
    background-color: var(--create-tool-btn-not-active);
  }

  &__pick-item:active {
    background-color: var(--create-tool-btn-not-active);
  }

  &__favourite {
    width: 40px;
  }
}

.btn-primary:active {
  background-color: var(--btn-active);
}

.btn:disabled {
  background-color: var(--btn-disabled);
}

/* Priority classes */
.high,
.medium,
.low,
.none {
  background-color: var(--bg-color) !important;
}

.high {
  --bg-color: var(--high-bg-color);
  --border-color: var(--high-border-color);
  --checked-bg-color: var(--high-checked-bg-color);
  --action-bar-bg-color: var(--high-actions-bar-bg-color);
}

.medium {
  --bg-color: var(--medium-bg-color);
  --border-color: var(--medium-border-color);
  --checked-bg-color: var(--medium-checked-bg-color);
  --action-bar-bg-color: var(--medium-actions-bar-bg-color);
}

.low {
  --bg-color: var(--low-bg-color);
  --border-color: var(--low-border-color);
  --checked-bg-color: var(--low-checked-bg-color);
  --action-bar-bg-color: var(--low-actions-bar-bg-color);
}

.none {
  --bg-color: var(--none-bg-color);
  --border-color: var(--none-border-color);
  --checked-bg-color: var(--none-checked-bg-color);
  --action-bar-bg-color: var(--none-actions-bar-bg-color);
}

.high input~.checkmark,
.medium input~.checkmark,
.low input~.checkmark,
.none input~.checkmark {
  border: 1px solid var(--border-color);
  background-color: var(--bg-color) !important;
}

.high input:checked~.checkmark,
.medium input:checked~.checkmark,
.low input:checked~.checkmark,
.none input:checked~.checkmark {
  border: none;
  background-color: var(--checked-bg-color);
}

.action-icons-bar.task-item__tool-bar.high {
  background-color: var(--high-actions-bar-bg-color) !important;
}

.action-icons-bar.task-item__tool-bar.medium {
  background-color: var(--medium-actions-bar-bg-color) !important;
}

.action-icons-bar.task-item__tool-bar.low {
  background-color: var(--low-actions-bar-bg-color) !important;
}

.action-icons-bar.task-item__tool-bar.none {
  background-color: var(--none-actions-bar-bg-color) !important;
}