// colors
$btn-primary: #676127;
$btn-active: #A79700;
$btn-disabled: #B3AD8C;
$create-tool-btn-not-active: #B3AD8C;
$none-atribute-btn: #835600;

$body-bg: #F8F1E5;
$input-bg: #B3AD8C33;
$input-text-color: #67612780;
$devider-bg: #B3AD8C;
$header-border-color: #835600;

$white: #FFFFFF;

$border-radius: 5px;