<div class="wrapper-title folder">
  <span>{{folder.name}}</span>
  <div (click)="open = !open">
    <!-- <app-svg-icon
      [svgPath]="'../../../../../assets/icons/arrow-up_svgrepo.com.svg'"
      [height]="'20'"
      [width]="'20'">
    </app-svg-icon> -->
    <img src="../../../../../assets/icons/arrow-up_svgrepo.com.png" alt="">
  </div>
</div>
<app-todo-list-ui  *ngIf="open"
  [todoList]="todoList$ | async | todo:folder" 
  (deleteItem)="onDelete($event)"
  (toggle)="onToggle($event)" 
  (edit)="onEdit($event)">
</app-todo-list-ui>