@import "../../../../../assets/styles/color-variables";

select {
  height: 42px;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;

}

span.btn {
  min-width: 88px;
}

.flex {
  display: flex;
  gap: 12px;
  max-height: 34px;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.form {
  &__content {
    border: 1px solid $header-border-color;
    border-radius: $border-radius;
    flex-grow: 2;
    padding: 4px;
    max-height: 34px;
    // ????
    width: 1px;
    // ????

    input {
      padding-left: 10px;
      height: 24px;
      width: 100%;
      background-color: $input-bg;
      border-radius: $border-radius;
      color: black;
      font-family: "Metrophobic";
      font-size: 16px;
      font-weight: 600;
      line-height: 19.73px;
      text-align: left;
    }

    input::placeholder {
      color: $input-text-color;
      font-size: 16px;
      font-weight: 400;
    }

    .devider {
      background-color: $devider-bg;
      margin: 4px 0;
      height: 1px;
    }

    .categories-list {
      margin-top: 8px;
    }
  }
}

.categories-list,
.folder-list {
  display: flex;
  gap: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories-list::-webkit-scrollbar,
.folder-list::-webkit-scrollbar {
  width: 0;
  display: none;
}

.active {
  background-color: $btn-active;
}

.btn__pick-item {
  min-width: max-content;
}

button[type=submit] {
  width: 32px;
  padding: 6px 0;
}