form {
}

input {
  border: 1px solid black;
  padding-left: 10px;
}

.btn {

  &__big {}

  &__add-todo {
    border: 1px solid black;
    padding: 0.7rem 1rem;
  }

  &__add-todo:disabled {
    background-color: rgb(220, 220, 220);
  }

}